<div><h1  id="header">Editing post</h1></div>

<%= render 'form' %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>

<div id="footer">
Copyright © Salma Ahmed
</div> 

<head>
<style>
#header {
    background-color:grey;
    color:red;
    text-align:center;
    padding:5px;
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
</style>
</head> 
