<div>
  <h1 id="header" >Listing posts</h1>
</div>

<table>
  <thead>
    <tr>
      <th style="font-family:verdana;color:blue">Title</th>
      <th style="font-family:verdana;color:blue">Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.body %></td>
        <td><%= link_to 'Show', post %></td>          
	<td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br><br><br><br>

<%= link_to 'New Post', new_post_path %>


<div id="footer">
Copyright © Salma Ahmed
</div> 

<head>
<style>
#header {
    background-color:grey;
    color:red;
    text-align:center;
    padding:5px;
}

#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
</style>
</head> 
