<!-- <p id="notice"><%= notice %></p> -->
<div style="background-color:grey; color:yellow; margin:20px; padding:20px;" >
<p >
  <strong style="color:blue;font-family:verdana">Title:</strong>
  <%= @post.title %>
</p> 

<p >
  <strong style="color:orange;font-family:verdana">Body:</strong>
  <%= @post.body %>
</p>

</div>

<div style="background-color:black; color:white; margin:20px; padding:20px;">
<h1 style="color:red">Comments</h1>

<div id="comments">

 <%= render :partial => @post.comments.reverse %>
</div>


<%= form_for([@post, Comment.new] ,remote: true  ) do |f| %>
  
  <p style="color:blue">
    <%= f.label :body, "New Comment" %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit "Add Comment" %>
  </p>
<% end %>

</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
